# комментарий — эта строка игнорируется
# не обрабатывать файлы, имя которых заканчивается на .log
*.log
# НО отслеживать файл error.log, несмотря на то, что мы игнорируем все .log файлы с помощью предыдущего правила
!error.log
# игнорировать все файлы в каталоге build/
cache/

